<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" preserve-order="true" thread-count="1">
    <listeners>
        <listener class-name="utils.Listener"></listener>
        <!--<listener class-name="utils.RetryListener"></listener>-->
    </listeners>
    <test name="Test Suite With Empty Data">
        <classes>
            <class name="RegistrationPageTests.User_submission_without_data_Test"></class>
        </classes>
    </test>
    <test name="Test Suite Without Mandatory Data">
        <classes>
            <class name="RegistrationPageTests.User_submission_without_data_Test"></class>
        </classes>
    </test>
    <test name="Test Suite Field Validations">
        <classes>
            <class name="RegistrationPageTests.Field_Validation_Test"></class>
        </classes>
    </test>

    <test name="Test Suite Registration With Proper Data">
        <classes>
            <class name="RegistrationPageTests.RegistrationPositiveTest"></class>
        </classes>
    </test>

    <test name="Test Suite URL Redirection Tests">
        <classes>
            <class name="RegistrationPageTests.RegistrationPositiveTest"></class>
        </classes>
    </test>
</suite>